<%- include ("../partials/header")%>
<title><%= campground.name%></title>
</head>
<body>
<h1>New Comment to <%= campground.name%></h1>
<form action="/campgrounds/<%= campground._id%>/comments" method="post">
    <input type="text" name="comment[text]">
    <input type="text" name="comment[author]">
    <button type="submit">Submit</button>
</form>
<%- include ("../partials/footer")%>
