<%- include ("../partials/header")%>
    <title>CampGrounds Around the world</title>
</head>
<body>
    <ul>
        <% campgrounds.forEach(function(camp){ %>
            <li><%= camp.name %> <br> <%= camp.imageURL %> <br><%= camp.description %></li>
            <a href="campgrounds/<%= camp._id %>">Go to this camp</a>
        <% }) %>
    </ul>

<%- include ("../partials/footer")%>